<div class="row" id="h1-row">
  <div class="col-md-5">
    <h1>Beautify Code</h1>
  </div>
  <div class="col-md-7 text-md-right text-left link-copy" style="display: none">
    <span class="share-link btn-outline-primary"></span> <button class="btn btn-outline-secondary copy"><i class="fas fa-copy"></i></button>
  </div>
</div>
<div class="row mb-4" id="input-options">
  <div class="col col-md-4 col-sm-12 mt-4">
    <div class="float-left mb-sm-3 mb-md-0">
      <label>Language</label>
      <select id="language"></select>
    </div>
    <div class="float-left custom-control custom-switch ml-0 ml-md-4 mt-1">
      <input type="checkbox" class="custom-control-input" id="example-toggle" <%= @sample_code == 'true' ? 'checked="checked"' : '' %>>
      <label class="custom-control-label" for="example-toggle">Sample</label>
    </div>
  </div>
  <div class="col col-md-4 col-sm-12 mt-4" id="option-column">
  </div>
  <div class="col col-md-2 mt-4 text-md-right text-sm-left">
    <div>
      <label>Theme</label>
      <select id="theme">
        <option value="light">Light</option>
        <option value="dark">Dark</option>
      </select>
    </div>
  </div>
</div>
<div class="row row-eq-height">
  <div class="col col-md-10 col-sm-12 col-12" id="source-column">
    <div class="row">
      <div class="col-md-12">
        <textarea id="source-editor" placeholder="Code goes here..."></textarea>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-sm-12 col-12 text-center mt-4 mt-md-0" id="button-column" style="min-height: 400px">
    <div class="d-flex flex-column w-100 h-100 align-self-center">
      <div class="d-flex h-25 align-items-md-start">
          <button id="beautify-btn" class="btn btn-primary" style="width: 100%;"><i class="fas fa-code"></i> Beautify</button>
      </div>
      <div>
        <div class="w-100">
          <button id="upload-btn" class="btn btn-outline-primary mt-4" style="width: 100%;"><i class="fas fa-upload"></i> Upload</button>
          <form id="source_file_form" enctype="multipart/form-data" method="post" name="source_file">
            <input type="file" style="display: none" name="file" />
          </form>
          <button data-toggle="modal" data-target="#download_file_name_modal" class="btn btn-outline-primary mt-2" style="width: 100%;"><i class="fas fa-download"></i> Download</button>
        </div>
      </div>
      <div class="mt-md-auto mt-4">
        <div class="w-100">
          <button id="share-btn" class="btn btn-outline-primary" style="width: 100%;"><i class="fas fa-share-alt"></i> Share</button>
          <button id="new-btn" class="btn btn-outline-primary mt-2" style="width: 100%;"><i class="fas fa-plus"></i> New</button>
        </div>
      </div>
    </div>
  </div>
</div>