<div class="row" id="h1-row">
  <div class="col-md-6">
    <h1>Align Hash/Array</h1>
  </div>
  <div class="col-md-6 text-right link-copy" style="display: none">
    <span class="share-link btn-outline-primary"></span> <button class="btn btn-outline-secondary copy"><i class="fas fa-copy"></i></button>
  </div>
</div>
<div class="row mb-4" id="input-options-row">
  <div class="col col-md-5_5 mt-4">
    <div class="float-left">
      <label>Language</label>
      <select id="language">
        <option></option>
        <option value="php">PHP</option>
        <option value="ruby">Ruby</option>
        <option value="javascript">Javascript/Typescript</option>
        <option value="python">Python</option>
        <option value="perl">Perl</option>
        <option value="groovy">Groovy</option>
      </select>
    </div>
    <div class="float-right">
      <label>Indent</label>
      <input alt="Spaces" id="indent-spaces" type="number" value="2" min="0" max="50" step="1"/>
    </div>
  </div>
  <div class="col-md-1 col-sm-12 text-right">
  </div>
  <div class="col col-md-5_5 text-right mt-4">
    <div class="float-left form-check-inline">
      <input type="checkbox" class="form-check-input" checked="checked" value="1" id="value-aligned-check" />
      <label class="form-check-label" for="value-aligned-check">Value Aligned</label>
    </div>
    <div class="float-right">
      <label>Theme</label>
      <select id="theme">
        <option value="light">Light</option>
        <option value="dark">Dark</option>
      </select>
    </div>
  </div>
</div>
<div class="row row-eq-height">
  <div class="col col-md-5_5 col-sm-12 mb-3" id="source-column">
    <div class="row">
      <div class="col-md-12">
        <textarea id="source-editor" placeholder="Code goes here..."></textarea>
      </div>
    </div>
  </div>
  <div class="col-md-1 col-sm-12 align-self-center mb-3" id="button-column">
    <div class="d-flex h-50 align-items-end">
      <button id="beautify-btn" class="btn btn-primary" style="width: 100%;"><i class="fas fa-angle-double-right"></i></button>
    </div>
    <div class="d-flex h-50 align-items-end">
      <div class="w-100">
        <button id="share-btn" class="btn btn-outline-primary" style="width: 100%;display: none;"><i class="fas fa-share-alt"></i> Share</button>
        <button id="fork-btn" class="btn btn-outline-primary mt-2" style="width: 100%;display: none;"><i class="fas fa-code-branch"></i> Fork</button>
        <button id="new-btn" class="btn btn-outline-primary mt-2" style="width: 100%;display: none;"><i class="fas fa-plus"></i> New</button>
      </div>
    </div>
  </div>
  <div class="col col-md-5_5 col-sm-12" id="target-column">
    <div class="row">
      <div class="col-md-12">
        <textarea id="target-editor"></textarea>
      </div>
    </div>
  </div>
</div>