<div class="row" id="h1-row">
  <div class="col-md-6">
    <h1>Beautify JSON</h1>
  </div>
  <div class="col-md-6 text-left text-md-right link-copy" style="display: none">
    <span class="share-link btn-outline-primary"></span> <button class="btn btn-outline-secondary copy"><i class="fas fa-copy"></i></button>
  </div>
</div>
<div class="row mb-4" id="input-options">
  <div class="col col-md-5_5 mt-4">
    <div class="float-left custom-control custom-switch mt-1">
      <input type="checkbox" class="custom-control-input" id="example-toggle" <%= @sample_code == 'true' ? 'checked="checked"' : '' %>>
      <label class="custom-control-label" for="example-toggle">Sample</label>
    </div>
    <div class="float-right">
    </div>
  </div>
  <div class="col-md-1 col-sm-12 text-right">
  </div>
  <div class="col col-md-5_5 text-right mt-4 d-flex">
    <div class="w-33 text-left ml-md-1 ml-sm-0">
      <div class="btn-group" role="group" aria-label="Json View Mode">
        <button type="button" class="btn btn-sm btn-success" id="source-view-btn">Source</button>
        <button type="button" class="btn btn-sm btn-secondary" id="tree-view-btn">Tree</button>
      </div>
    </div>
    <div class="w-33">
      <div id="indent-group">
        <label>Indent</label>
        <input alt="Spaces" id="indent-spaces" type="number" value="2" min="0" max="50" step="1"/>
      </div>
    </div>
    <div class="w-34">
      <label>Theme</label>
      <select id="theme">
        <option value="light">Light</option>
        <option value="dark">Dark</option>
      </select>
    </div>
  </div>
</div>
<div class="row row-eq-height">
  <div class="col col-md-5_5 col-sm-12 col-12 mb-3" id="source-column">
    <div class="row">
      <div class="col-md-12">
        <textarea id="source-editor" placeholder="JSON goes here..."></textarea>
      </div>
    </div>
  </div>
  <div class="col-md-1 col-sm-12 col-12 mb-3" id="button-column">
    <div class="d-flex flex-column w-100 h-100 align-self-center">
      <div>
        <div class="w-100 pt-md-5 pt-0">
          <button id="beautify-btn" class="btn btn-primary" style="width: 100%;">Beautify <i class="fas fa-angle-double-right"></i></button>
          <button id="minify-btn" class="btn btn-primary mt-4" style="width: 100%;"><i class="fas fa-angle-double-left"></i> Minify</button>
          <button data-toggle="modal" data-target="#download_file_name_modal" class="btn btn-outline-primary mt-4" style="width: 100%;"><i class="fas fa-download"></i> Download</button>
        </div>
      </div>
      <div class="mt-md-auto mt-4 w-100">
        <div class="w-100">
          <button id="share-btn" class="btn btn-outline-primary" style="width: 100%;display: none;"><i class="fas fa-share-alt"></i> Share</button>
          <button id="fork-btn" class="btn btn-outline-primary mt-2" style="width: 100%;display: none;"><i class="fas fa-code-branch"></i> Fork</button>
          <button id="new-btn" class="btn btn-outline-primary mt-2" style="width: 100%;display: none;"><i class="fas fa-plus"></i> New</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-md-5_5 col-sm-12 col-12" id="target-column">
    <div class="row">
      <div class="col-md-12 json-view" id="source-view">
        <textarea id="target-editor"></textarea>
      </div>
      <div class="col-md-12 json-view" id="tree-view" style="display: none;">
        <div id="json-editor"></div>
      </div>
    </div>
  </div>
</div>