<h1>Align Hash/Array</h1>
<div class="row input-options">
  <div class="col col-md-5_5 mt-4">
    <div class="float-left">
      <label>Language</label>
      <select id="language">
        <option></option>
        <option value="php">PHP</option>
        <option value="ruby">Ruby</option>
        <option value="javascript">Javascript/Typescript</option>
        <option value="python">Python</option>
        <option value="perl">Perl</option>
        <option value="groovy">Groovy</option>
      </select>
    </div>
    <div class="float-right">
      <label>Indent</label>
      <input alt="Spaces" id="indent-spaces" type="number" value="2" min="0" max="50" step="1"/>
    </div>
  </div>
  <div class="col-md-1 col-sm-12 text-right">
  </div>
  <div class="col col-md-5_5 text-right mt-4">
    <div class="float-left form-check-inline">
      <input type="checkbox" class="form-check-input" checked="checked" value="1" id="value-aligned-check" />
      <label class="form-check-label" for="value-aligned-check">Value Aligned</label>
    </div>
    <div class="float-right">
      <label>Theme</label>
      <select id="theme">
        <option value="light">Light</option>
        <option value="dark">Dark</option>
      </select>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col col-md-5_5 col-sm-12 mb-3 source-column">
    <div class="row">
      <div class="col-md-12">
        <textarea id="source"></textarea>
      </div>
    </div>
  </div>
  <div class="col-md-1 col-sm-12 justify-content-center align-self-center mb-3 button-column">
    <button id="beautify-btn" class="btn btn-primary" style="width: 100%;">>></button>
  </div>
  <div class="col col-md-5_5 col-sm-12 target-column">
    <div class="row">
      <div class="col-md-12">
        <textarea id="target"></textarea>
      </div>
    </div>
  </div>
</div>