<div class="container text-center">
  <div class="row">
    <div id="h1-container" class="col-12 pt-md-7 pb-md-7 pt-sm-3" style="visibility: hidden">
      <h1>Make Your Developer's Life Easier!</h1>
      <p>There are many tools for you to beautify, convert your code.</p>
      <p><button class="btn btn-primary" id="browser-tools-btn">Browse tools</button>
        <!--
        <button class="btn btn-primary ml-3" title="Request tools">Request tools</button></p>
        -->
    </div>
  </div>

  <div class="row mt-5 mt-md-0">
    <div class="col-12 col-md-7">
      <div class="side-image-container">
        <img src="images/beautify_code.png" width="100%" />
      </div>
    </div>
    <div class="col-12 col-md-5 text-left mt-3 mt-md-0">
      <p class="side-description">Many popular languages are supported.</p>
      <p class="side-description-sm">JavaScript, HTML, CSS, PHP, Java, Ruby, C, C++ etc</p>
      <p class="side-description">Able to choose Dark or Light theme.</p>
      <p class="side-description-sm">Able to remember theme setting for later access.</p>
      <p class="side-description">Supports Download/Upload.</p>
      <p class="side-description-sm">Just need to drop file into the editor.</p>
    </div>
  </div>

  <div class="row mt-md-7 mt-sm-5">
    <div class="col-12 order-2 order-md-1 col-md-5 text-left mt-3 mt-md-0">
      <p class="side-description">Most popular converters are available.</p>
      <p class="side-description-sm">HTML to HAML/Slim/Pug/JSX, CSS to SCSS/SASS etc</p>
      <p class="side-description">Easily share your beautified, converted code.</p>
      <p class="side-description-sm">Using short URLs. e.g. <i><small>https://codeutility.com/0w4jwl08/100</small></i></p>
      <p class="side-description">Be kept updated and maintained.</p>
      <p class="side-description-sm">More and more tools will be added.</p>
    </div>
    <div class="col-12 order-1 order-md-2 col-md-7">
      <div class="side-image-container">
        <img src="images/convert_code.png" width="100%" />
      </div>
    </div>
  </div>
</div>