<div class="pt-md-6">
  <div class="w-100">
    <button id="convert-btn" class="btn btn-primary" style="width: 100%;">Encrypt
      <i class="fas fa-angle-double-right"></i>
    </button>
  </div>
</div>
<%= render "pages/share_new_buttons" %>
