<div class="mt-md-auto mt-4 mt-sm-4 w-100" style="display: none;">
  <div class="w-100">
    <button id="share-btn" class="btn btn-outline-primary" style="width: 100%;display: none;">
      <i class="fas fa-share-alt"></i>
      Share</button>
    <button id="fork-btn" class="btn btn-outline-primary mt-2" style="width: 100%;display: none;">
      <i class="fas fa-code-branch"></i>
      Fork</button>
    <button id="new-btn" class="btn btn-outline-primary mt-2" style="width: 100%;display: none;">
      <i class="fas fa-plus"></i>
      New</button>
  </div>
</div>