<div class="float-left custom-control custom-switch mt-1">
  <input type="checkbox" class="custom-control-input" id="example-toggle" <%= @showSampleCode == 'true' ? 'checked="checked"' : '' %>>
  <label class="custom-control-label" for="example-toggle">Sample</label>
</div>
<div class="float-right">
</div>