<div class="w-33 text-left ml-md-1 ml-sm-0">
  <% if !@tool.nil? && @tool == 'css2scss' %>
    <%= render "css2scss/target_options" %>
  <% end %>
</div>
<div class="w-33">
</div>
<div class="w-34">
  <label>Theme</label>
  <select id="theme">
    <option value="light">Light</option>
    <option value="dark">Dark</option>
  </select>
</div>