<%= render "tools/partials/converter_page", name: 'HTML+ERB to Haml' %>
<div class="row mt-5">
  <div class="col-md-6 p-3">
    <h3>Introduction</h3>
    <p>This is an online converter tool which helps to convert HTML+ERB to Haml template.</p>
    <h3>How to use this tool?</h3>
    <p>You can input/paste your code directly into the editor, then click the Convert button. After converting, you can download or save/share the result. It will create a link for you to share with others. You can also sign-in using Google/GitHub to save results into your account.</p>
    <h3>What is Haml?</h3>
    <p>Haml is a markup language that’s used to cleanly and simply describe the HTML of any web document without the use of inline code. Haml functions as a replacement for inline page templating systems such as PHP, ASP, and ERB, the templating language used in most Ruby on Rails applications. However, Haml avoids the need for explicitly coding HTML into the template, because it itself is a description of the HTML, with some code to generate dynamic content.</p>

    <p><a href="http://www.unspace.ca/" target="_blank">Unspace Interactive</a> and several other professional Rails shops use Haml exclusively for their projects, valuing its focus on cleanliness, readability, and production speed.</p>

    <p><a href="https://haml.info/" target="_blank">Learn more <i class="fas fa-angle-double-right"></i></a></p>

    <p class="mt-5">Haml Syntax</p>
    <pre class="code-block">
      <code class="haml">
%section.container
  %h1= post.title
  %h2= post.subtitle
  .content
    = post.content
      </code>
    </pre>

  </div>
  <div class="col-md-6 p-3 pl-5">
    <h3>Examples</h3>
    <p><small>HTML+ERB</small></p>

    <pre class="code-block">
      <code class="xml erb">
&lt;!doctype html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;meta charset=&quot;utf-8&quot;/&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;h1&gt;Blogg&lt;/h1&gt;
        &lt;p&gt;
            Time:
          &lt;%= Time.now %&gt;
        &lt;/p&gt;
        &lt;% Post.all.each do |post| %&gt;
            &lt;article&gt;
                &lt;h2&gt;&lt;%= post.title %&gt;&lt;/h2&gt;
                &lt;div&gt;&lt;%= post.body %&gt;&lt;/div&gt;
            &lt;/article&gt;
        &lt;% end %&gt;
    &lt;/body&gt;
&lt;/html&gt;
      </code>
    </pre>

    <p><small>Haml</small></p>

    <pre class="code-block">
      <code class="haml">
!!!
%html
  %head
    %meta{:content =&gt; &quot;text/html; charset=UTF-8&quot;, &quot;http-equiv&quot; =&gt; &quot;Content-Type&quot;}/
    %meta{:charset =&gt; &quot;utf-8&quot;}/
  %body
    %h1 Blogg
    %p
      Time:
      \#{Time.now}
    - Post.all.each do |post|
      %article
        %h2= post.title
        %div= post.body
    </code>
    </pre>
  </div>
</div>