/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";

html{
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color:#484848;
  line-height:1.28;
}

body {
  background-color: #f9f9f9 !important;
  padding: 30px 30px 30px 30px;
}

h1 {
  font-size: 39px;
  line-height: 40px;
  font-weight: bold;
  text-rendering: optimizelegibility;
}

textarea#source {
  width: 100%;
}

.CodeMirror {
  border: 1px solid #cacaca;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 300px !important;
}