/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";
@import "nav";
@import 'select2/dist/css/select2.css';
@import 'mdbootstrap/css/mdb.lite.min.css';
@import 'toastr/build/toastr.min.css';
@font-face {
  font-family: "Proxima Nova Soft";
  src: url("fonts/b4e4280eacbbd2ed88862d648b0b1f2f.eot");
  src: url("fonts/b4e4280eacbbd2ed88862d648b0b1f2f_iefix.eot?#iefix") format("embedded-opentype"), url("fonts/b4e4280eacbbd2ed88862d648b0b1f2f.woff2") format("woff2"), url("fonts/b4e4280eacbbd2ed88862d648b0b1f2f.woff") format("woff"), url("fonts/b4e4280eacbbd2ed88862d648b0b1f2f.ttf") format("truetype"), url("fonts/b4e4280eacbbd2ed88862d648b0b1f2f.svg#Proxima Nova Soft") format("svg");
}
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.28;
}
main {
  padding: 30px;
}
h1 {
  font-size: 39px;
  line-height: 40px;
  font-weight: bold;
  text-rendering: optimizelegibility;
  font-family: "Proxima Nova Soft";
}
h6 {
  font-family: "Proxima Nova Soft" !important;
}
.side-description {
  font-size: 27px;
  line-height: 40px;
  font-weight: bold;
  text-rendering: optimizelegibility;
  font-family: "Proxima Nova Soft";
}
.side-description-sm {
  color: rgb(153, 153, 153);
}
.side-image-container {
  border: 1px solid #444444;
  border-radius: 10px;
  overflow: hidden;
}
label {
  font-weight: 500;
}
@media(min-width: 768px) {
  .col-md-5_5 {
    width: 45.8333333%;
    flex: 0 0 45.8333333%;
    max-width: 45.8333333%;
  }
  .h-md-50 {
    height: 50% !important;
  }

  .pt-md-6 {
    padding-top: 5rem !important;
  }

  .pt-md-7 {
    padding-top: 8rem !important;
  }

  .pb-md-7 {
    padding-bottom: 8rem !important;
  }

  .mt-md-7 {
    margin-top: 8rem !important;
  }
}

.pt-6 {
  padding-top: 5rem !important;
}

.pt-7 {
  padding-top: 8rem !important;
}

.pb-7 {
  padding-bottom: 8rem !important;
}

.mt-7 {
  margin-top: 8rem !important;
}

@media(min-width: 576px) {
}

$btn-padding-x-xs: 0.20rem !default;
$btn-padding-y-xs: 0.12rem !default;
$input-btn-line-height-xs: 1.1 !default;
.w-30 {
  width: 30% !important;
}
.w-33 {
  width: 33% !important;
}
.w-34 {
  width: 34% !important;
}
.w-60 {
  width: 60% !important;
}
.w-40 {
  width: 40% !important;
}
.btn.btn-xs {
  // line-height: ensure proper height of button next to small input
  @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $font-size-sm, $input-btn-line-height-xs, $btn-border-radius-sm);
}
.row-eq-height {
  display: -webkit-box !important;
}
.modal {
  top: 80px !important;
}
div.editor-buttons {
  z-index: 500;
  min-width: 506px;
  width: 100% !important;
  overflow-x: hidden;
  position: absolute;
  right: 0;
}
.editor-buttons .btn.wrap .fa-primary {
  fill: #acacac !important;
}
.editor-buttons .btn.wrap.active .fa-primary {
  fill: #28a745 !important;
}
.editor-buttons .btn {
  border-radius: 0 0 0.2rem 0.2rem !important;
}
textarea#source {
  width: 100%;
}
.CodeMirror {
  border: 1px solid #cacaca;
  border-radius: 10px;
  font-size: 14px !important;
  border-top: 2px solid #cacaca;
  overflow:hidden !important;
  -ms-overflow-x: hidden;
  -ms-overflow-y: hidden;
}
.select2-container--default .select2-results > .select2-results__options {
  max-height: 350px !important;
}
.select2-results__option {
  color: rgba(0, 0, 0, .85) !important;
}
.select2-selection {
  height: auto !important;
}
.select2-selection--multiple .select2-selection__rendered {
  line-height: 16px !important;
  font-size: 13px !important;
  font-weight: bold;
}
.select2-selection__rendered li {
  color: #212529 !important;
}
.select2-container .select2-selection--multiple {
  min-height: 30px !important;
}
.indent-spaces {
  display: inline-flex !important;
  width: 120px;
}
.indent-spaces .form-control-sm {
  width: 40px !important;
  border: 1px solid #aaa !important;
}
.indent-spaces .btn-sm {
  border: 1px solid #aaa !important;
}
.share-link {
  @extend .btn;
  color: #007bff !important;
  border-radius: 0.4rem !important;
  background: rgba(0, 123, 255, 0.1) !important;
  -webkit-user-select: all; /* Chrome 49+ */
  -moz-user-select: all; /* Firefox 43+ */
  -ms-user-select: all; /* No support yet */
  user-select: all;
}
.share-link::selection {
  color: #fff;
}
.share-link:hover {}
#php_rule_description .select2 {
  text-align: left;
}
.desc-green {
  color: #34BC27;
}
#rule-content {
  font-size: 14px;
  height: 450px;
  overflow-y: auto;
}
.modal .alert-danger {
  padding: 0 3px 3px 10px !important;
}
#button-column {
  min-width: 136px !important;
}
#beautify_json_page .CodeMirror {
  font-size: 13px !important;
}

.loadingoverlay_element {
  margin-left: 41px !important;
}

.CodeMirror-scroll {
  margin-top: 30px !important;
  padding-top: 5px !important;
  padding-bottom: 0px !important;
}

.CodeMirror-dialog {
  top: 35px !important;
}

.bs-tooltip-bottom {
  z-index: 10000 !important;
  left: -8px !important;
}