@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/badge";

@import 'highlight.js/scss/darcula';

body {
  background-color: #1f2227 !important;
  color: #fbfbfb !important;
}

header, footer {
  background-color: #1f2227;
}

.supported-language-table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #1f2227;
}

.supported-language-table {
  @extend .table-dark;
  background-color: #2B2B2B;
}
.supported-language-table .badge {
  @extend .badge-secondary;
}

.hljs-tag, .hljs-name, .hljs-attribute {
  color: #007bff;
}

.hljs-keyword, .hljs-selector-tag, .hljs-section, .hljs-attribute, .hljs-name, .hljs-variable {
  color: #cb7832 !important;
}

.modal ::-webkit-scrollbar, .CodeMirror ::-webkit-scrollbar, .select2-results ::-webkit-scrollbar, #json-editor ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.modal ::-webkit-scrollbar-button, .CodeMirror ::-webkit-scrollbar-button, .select2-results ::-webkit-scrollbar-button, #json-editor ::-webkit-scrollbar-button {
  background-color: #666;
}

.modal ::-webkit-scrollbar-track, .CodeMirror ::-webkit-scrollbar-track, .select2-results ::-webkit-scrollbar-track, #json-editor ::-webkit-scrollbar-track {
  background-color: #646464;
}

.modal ::-webkit-scrollbar-track-piece, .CodeMirror ::-webkit-scrollbar-track-piece, .select2-results ::-webkit-scrollbar-track-piece, #json-editor ::-webkit-scrollbar-track-piece {
  background-color: #1f2227;
}

.modal ::-webkit-scrollbar-thumb, .CodeMirror ::-webkit-scrollbar-thumb, .select2-results ::-webkit-scrollbar-thumb, #json-editor ::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}

.modal ::-webkit-scrollbar-corner, .CodeMirror ::-webkit-scrollbar-corner, .select2-results ::-webkit-scrollbar-corner, #json-editor ::-webkit-scrollbar-corner {
  background-color: #646464;
}

.modal ::-webkit-resizer, .CodeMirror ::-webkit-resizer, .select2-results ::-webkit-resizer, #json-editor ::-webkit-resizer {
  background-color: #666;
}

.modal-dialog {
  border: 1px solid #30363d !important;
  border-radius: 10px !important;
}

.modal-header {
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
}

.modal-content {
  border: none !important;
  border-radius: 10px;
}

.navbar-brand .page-name {
  color: #fff !important;
}

.navbar-toggler .navbar-toggler-icon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.85%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler {
  border: 1px solid #999 !important;
}

.navbar-nav .dropdown-toggle {
  color: #fff !important;
}

.CodeMirror-simplescroll-horizontal, .CodeMirror-simplescroll-vertical {
  background-color: #1f2227 !important;
}

.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div {
  background-color: #666 !important;
  border: none !important;
}

.modal {
  .modal-header button {
    color: #fff !important;
  }

  .modal-content {
    background-color: #1f2227 !important;
  }
}

#cookie-law-info-bar {
  box-shadow: 0rem 0rem 0.5rem 0.1rem rgba(0, 0, 0, 0.25), inset 0 -1px 0 black !important;
  background-color: #36a7f7 !important;
  color: #fbfbfb !important;
}

#cookie-law-info-bar .cli-settings-button {
  margin: 5px 20px;
  color: #b9dd9a;
}

#cookie-law-info-bar #cookie-settings-accept {
  display: inline-block;
  margin: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding: 5px 7px;
}

#cookie_settings_modal {
  font-family: Muli, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fbfbfb;
  text-align: left;
}

#cookie_settings_modal .modal-header {
  padding-bottom: 0px !important;
}

#cookie_settings_modal .cookie-setting-tab-header {
  border-radius: 5px;
  padding: 12px 15px;
  cursor: pointer;
  transition: background-color .2s ease-out .3s,color .2s ease-out 0s;
  background-color: #ccc;
  color: #212529;
}

#cookie_settings_modal .cookie-setting-tab-header a {
  text-decoration: none;
}

#cookie_settings_modal .cookie-setting-tab-header a .fa-angle-right {
  display: none;
}

#cookie_settings_modal .cookie-setting-tab-header a .fa-angle-down {
  display: inline;
}

#cookie_settings_modal .cookie-setting-tab-header a.collapsed .fa-angle-right {
  display: inline !important;
}

#cookie_settings_modal .cookie-setting-tab-header a.collapsed .fa-angle-down {
  display: none !important;
}

#cookie_settings_modal .cookie-setting-tab-content p {
  padding-top: 20px;
  padding-left: 20px;
}

#cookie_settings_modal .cookie-setting-necessary-caption {
  float: right;
}

.bd-navbar {
  box-shadow: 0 0.5rem 0 0.1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 black;
}

.navbar-brand svg path {
  fill: #fff;
}

.dropdown-menu {
  background-color: #1f2227;
  color: #fff;
  border-top: none !important;
}

.dropdown-item {
  color: #fbfbfb;
}

.dropdown-item:hover {
  color: #fff;
}

.form-control-sm, .select2-search__field, .indent-spaces .btn-light {
  background-color: #343a40 !important;
  color: #fbfbfb !important;
}

.select2-container--default {
  .select2-selection--single {
    background-color: #343a40 !important;
  }

  .select2-selection--multiple {
    background-color: #343a40 !important;
    border: 1px solid #aaa !important;
  }
}

.select2-dropdown {
  background-color: #343a40 !important;
}

.select2-results__option, .select2-selection__rendered, .select2-selection__placeholder {
  color: #fbfbfb !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  color: #fbfbfb !important;
  background-color: #343a40 !important;
}

textarea:focus, input:focus, span:focus {
  outline: none;
}

.cm-s-darcula span.cm-string {
  color: #6A874A !important;
}

.jsoneditor-tree {
  background-color: #2E2F30 !important;
}

.jsoneditor-selected .jsoneditor-tree, .jsoneditor-highlight .jsoneditor-tree {
  background-color: #3c3c3c !important;
}

.jsoneditor-field, .jsoneditor-object, .jsoneditor-array {
  color: #fbfbfb !important;
}

.jsoneditor-string {
  color: #6A874A !important;
}

div {
  &.jsoneditor-field {
    &.jsoneditor-highlight {
      color: #1f2227 !important;
    }

    &[contenteditable=true] {
      &:focus, &:hover {
        color: #1f2227 !important;
      }
    }
  }

  &.jsoneditor-value {
    &.jsoneditor-highlight {
      color: #1f2227 !important;
    }

    &[contenteditable=true] {
      &:focus, &:hover {
        color: #1f2227 !important;
      }
    }
  }
}

tr {
  &.jsoneditor-highlight, &.jsoneditor-selected {
    background-color: #3c3c3c !important;
  }
}

div.jsoneditor-readonly {
  color: #EFEFC6 !important;
}

.jsoneditor {
  border: 1px solid #cacaca !important;
  border-radius: 10px;
  overflow: hidden;
}

.jsoneditor-navigation-bar {
  border-bottom: none !important;
  background-color: #545b62 !important;
  color: #fbfbfb !important;
}

.jsoneditor-search input {
  background-color: #343a40 !important;
  color: #fbfbfb !important;
  font-size: 13px !important;
  padding-top: 2px !important;
  padding-left: 7px !important;
  border: none !important;
}

.jsoneditor-frame {
  background-color: #343a40 !important;
  border: 1px solid #aaa !important;
  border-radius: 7px !important;
}

.CodeMirror pre.CodeMirror-placeholder { color: #999; }

.modal-backdrop {
  background-color: rgb(0, 0, 0) !important;
}

.modal-backdrop.show {
  opacity: 0.4 !important;
}

#sign_in_modal.fade.show ~ .modal-backdrop {
  background-color: rgb(21, 21, 21) !important;
  opacity: 1 !important;
}

#profile_dropdown_menu {
  border: 1px solid #aaa !important;
  background-color: #343a40;
}

#profile_dropdown_menu span.signed-in-as {
  border-bottom: 1px solid #aaa;
  padding-bottom: 12px;
}

#profile_dropdown_menu span.signed-in-as:hover,
#profile_dropdown_menu span.avatar:hover {
  background-color: transparent !important;
}

#profile_dropdown_menu span.avatar img {
  border-radius: 50%;
}

#profile-page .nav-tabs {
  border-bottom: 1px solid #444 !important;
}

#profile-page .nav-link {
  font-size: 0.9em !important;
  border: 1px solid #444 !important;
  padding: 0.2rem 1rem !important;
  font-family: "Proxima Nova Soft";
}

#profile-page .nav-link.active {
  background-color: $primary !important;
  border-top: 1px solid $primary !important;
  border-left: 1px solid $primary !important;
  border-right: 1px solid $primary !important;
}

.no-data {
  padding-top: 10px;
  font-size: 1.2em;
  color: #c9d1d9;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  font-family: "Proxima Nova Soft";
}

.tool-description {
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
  font-size: 0.8em;
  color: #9b9dad;
  margin-top: -5px;
}

.tags-label {
  font-family: "Proxima Nova Soft";
}

.tool-tags .badge, .tag-page .badge {
  background-color: #36a7f7 !important;
}

.tool-tags .badge:hover {
  background-color: #007bff !important;
}

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

#my-shares-page #search-box input[type=search] {
  border: 1px solid #aaa;
  background-color: #343a40;
  color: #fbfbfb;
  border-radius: 20px;
  margin-left: 15px;
}

#my-shares-page #search-box .btn {
  border-radius: 20px;
  margin-left: 30px;
}

#my-shares-page #search-box .fa-search {
  color: #fbfbfb;
  margin-top: 8px;
}

.pagination .page-item .page-link {
  border: 1px solid #aaa;
  background-color: #343a40;
  color: #007bff;
}

.pagination .page-item.disabled .page-link {
  color: #fbfbfb;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  color: #fff;
}

.shares-container .card .close {
  color: #fbfbfb;
}

.shares-container .card, #tools-container .card {
  border: 1px solid #444444;
}

.shares-container .card-footer {
  border-top: 1px solid #444444;
}

.keyword-badge {
  font-size: 1rem;
}

.share-link svg {
  color: #fbfbfb;
}