body {
  background-color: #1f2227 !important;
  color: #fbfbfb !important;
}

.bd-navbar {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, 1);
}

.navbar-brand svg path {
  fill: #fff;
}