@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/badge";

@import 'highlight.js/scss/github';

body {
  background-color: #efefef !important;
  color: rgba(0, 0, 0, 0.85) !important;
}

header, footer {
  background-color: #fcfcfc;
}

#cookie-law-info-bar {
  box-shadow: 0 -1px 10px rgba(172, 171, 171, 0.3) !important;
  background-color: #fff !important;
  color: #000 !important;
}

.supported-language-table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #efefef;
}

.supported-language-table {
  @extend .table-light;
  background-color: #f6f8fa;
}

.supported-language-table .badge {
  @extend .badge-light;
}

.modal {
  .modal-body button, .modal-footer button {
    color: #fff !important;
  }

  .modal-header button {
    color: rgba(0, 0, 0, 0.85) !important;
  }

  .modal-content {
    background-color: #fcfcfc !important;
  }
}

.navbar-brand svg path {
  fill: rgba(0, 0, 0, 0.85);
}

.modal ::-webkit-scrollbar, .CodeMirror ::-webkit-scrollbar, .select2-results ::-webkit-scrollbar, #json-editor ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.modal ::-webkit-scrollbar-button, .CodeMirror ::-webkit-scrollbar-button, .select2-results ::-webkit-scrollbar-button, #json-editor ::-webkit-scrollbar-button, .modal ::-webkit-scrollbar-track, .CodeMirror ::-webkit-scrollbar-track, .select2-results ::-webkit-scrollbar-track, #json-editor ::-webkit-scrollbar-track, .modal ::-webkit-scrollbar-track-piece, .CodeMirror ::-webkit-scrollbar-track-piece, .select2-results ::-webkit-scrollbar-track-piece, #json-editor ::-webkit-scrollbar-track-piece {
  background-color: #ddd;
}

.modal ::-webkit-scrollbar-thumb, .CodeMirror ::-webkit-scrollbar-thumb, .select2-results ::-webkit-scrollbar-thumb, #json-editor ::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #aaa;
  border-radius: 3px;
}

.modal ::-webkit-scrollbar-corner, .CodeMirror ::-webkit-scrollbar-corner, .select2-results ::-webkit-scrollbar-corner, #json-editor ::-webkit-scrollbar-corner {
  background-color: #ddd;
}

.modal ::-webkit-resizer, .CodeMirror ::-webkit-resizer, .select2-results ::-webkit-resizer, #json-editor ::-webkit-resizer {
  background-color: #aaa;
}

.modal-dialog {
  border: 1px solid #aaa !important;
  border-radius: 10px !important;
}

#sign_in_modal.fade.show ~ .modal-backdrop {
  background-color: #efefef !important;
  opacity: 1 !important;
}

#profile_dropdown_menu {
  background-color: #fff;
}

.dropdown-item:hover {
  color: #1f2227;
}

#cookie_settings_modal {
  color: inherit !important;
}

.navbar-brand .page-name {
  color: rgba(0, 0, 0, 0.85) !important;
}

.navbar-nav .dropdown-toggle {
  color: rgba(0, 0, 0, 0.85) !important;
}

.navbar-toggler .navbar-toggler-icon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.85%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler {
  border: 1px solid #999 !important;
}

.CodeMirror-simplescroll-horizontal, .CodeMirror-simplescroll-vertical {
  background-color: #aaa !important;
}

.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div {
  background-color: #ddd !important;
  border: none !important;
}

.btn-light, .form-control-sm, .select2-search__field {
  background-color: #f8f9fa !important;
  color: #212529 !important;
}

.select2-container--default {
  .select2-selection--single {
    background-color: #fbfbfb !important;
  }

  .select2-selection--multiple {
    background-color: #fbfbfb !important;
    border: 1px solid #aaa !important;
  }
}

.select2-dropdown {
  background-color: #fbfbfb !important;
}

.select2-results__option, .select2-selection__rendered, .select2-selection__placeholder {
  color: rgba(0, 0, 0, 0.85) !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  color: rgba(0, 0, 0, 0.85) !important;
  background-color: #ddd !important;
}

textarea:focus, input:focus, span:focus {
  outline: none;
}

.jsoneditor-tree {
  background-color: #fbfbfb !important;
}

.jsoneditor-selected .jsoneditor-tree, .jsoneditor-highlight .jsoneditor-tree {
  background-color: #dddddd !important;
}

.jsoneditor-field, .jsoneditor-object, .jsoneditor-array {
  color: #1f2227 !important;
}

.jsoneditor-string {
  color: #6A874A !important;
}

div {
  &.jsoneditor-field {
    &.jsoneditor-highlight {
      color: #1f2227 !important;
    }

    &[contenteditable=true] {
      &:focus, &:hover {
        color: #1f2227 !important;
      }
    }
  }

  &.jsoneditor-value {
    &.jsoneditor-highlight {
      color: #1f2227 !important;
    }

    &[contenteditable=true] {
      &:focus, &:hover {
        color: #1f2227 !important;
      }
    }
  }
}

tr {
  &.jsoneditor-highlight, &.jsoneditor-selected {
    background-color: #dddddd !important;
  }
}

div.jsoneditor-readonly {
  color: gray !important;
}

.jsoneditor {
  border: 1px solid #cacaca !important;
  border-radius: 10px;
  overflow: hidden;
}

.jsoneditor-navigation-bar {
  border-bottom: 1px solid #cacaca !important;
  background-color: #dddddd !important;
  color: #1f2227 !important;
}

.jsoneditor-search input {
  background-color: #f8f9fa !important;
  color: #212529 !important;
  font-size: 13px !important;
  padding-top: 2px !important;
  padding-left: 7px !important;
  border: none !important;
}

.jsoneditor-frame {
  background-color: #f8f9fa !important;
  border: 1px solid #aaa !important;
  border-radius: 7px !important;
}

#my-shares-page #search-box input[type=search] {
  border: 1px solid #aaa;
  background-color: #fbfbfb;
  color: #1f2227;
  border-radius: 20px;
  margin-left: 15px;
}

#my-shares-page #search-box .btn {
  border-radius: 20px;
  margin-left: 30px;
}

#my-shares-page #search-box .fa-search {
  color: #fbfbfb;
  margin-top: 8px;
}

.pagination .page-item .page-link {
  border: 1px solid #aaa;
  background-color: #343a40;
  color: #007bff;
}

.pagination .page-item.disabled .page-link {
  color: #1f2227;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  color: #fff;
}

.shares-container .card .close {
  color: #1f2227;
}

.shares-container .card, #tools-container .card {
  border: 1px solid #1115;
}

.shares-container .card-footer {
  border-top: 1px solid #1115;
}

span.dropdown-item:hover {
  color: #1f2227;
}

.share-link svg {
  color: #4448;
}