<div class="container text-center">
  <div class="row text-center">
    <div class="col-12">
      <h1>Releases</h1>
    </div>
  </div>

  <div class="row mt-5" style="font-size: 13px">
    <div class="col-12 text-left">
      <h4><small class="mr-2"><i class="fas fa-rocket"></i></small> Second Release <span class="badge badge-info">v1.1</span> <span class="badge badge-warning">04-03-2021</span></h4>
      <div class="pl-5">
        <ul>
          <li>Add Sign In with Google/Github function.</li>
          <li>Signed-in users: Profile page, My shares page.</li>
          <li>Allow signed-in users to manage their shares.</li>
          <li>Add introduction and explanation for tools.</li>
          <li>Add function to request new users to allow using Cookie.</li>
          <li>Add tag pages and tags for tools.</li>
          <li>Enhance Switch to Dark/Light theme function.</li>
          <li>Add the release page.</li>
          <li>Add dynamic XML site map.</li>
          <li>Fix bugs.</li>
        </ul>
      </div>

      <h4><small class="mr-2"><i class="fas fa-rocket"></i></small> Very First Release <span class="badge badge-info">v1.0</span> <span class="badge badge-warning">11-30-2020</span></h4>
      <div class="pl-5">
      <p>Release the home page and below tools with basic functions:</p>
      <ul>
        <li>Beautifiers:
          <ul>
            <li>Align Hash/Array</li>
            <li>Beautify Code: HTML, JavaScript, SQL and other languages</li>
            <li>Beautify JSON</li>
          </ul>
        </li>
        <li>Converters:
          <ul>
            <li>HTML+ERB to Haml</li>
            <li>HTML+ERB to Slim</li>
            <li>HTML to JSX</li>
            <li>HTML to Pug</li>
            <li>CSS to SCSS/Sass</li>
            <li>JSON to Yaml</li>
          </ul>
        </li>
        <li>Minifiers:
          <ul>
            <li>Minify HTML</li>
            <li>Minify JavaScript</li>
            <li>Minify CSS</li>
            <li>Minify JSON</li>
            <li>Minify SQL</li>
          </ul>
        </li>
        <li>Encoders/Decoders/Encrypters:
          <ul>
            <li>URI Encode/Decode</li>
            <li>HTML Encode/Decode</li>
            <li>Hex Encode/Decode</li>
            <li>Base64 Encode/Decode</li>
            <li>MD5 Encrypt</li>
            <li>SHA-1/SHA-256/SHA-384/SHA-512</li>
          </ul>
        </li>
      </ul>
        <p>Basic functions: Beautify, Convert, Download/Upload, Create link to share, Switch to Dark/Light theme</p>
      </div>
    </div>
  </div>
</div>