<div id="cookie-law-info-bar" style="display: none;">
    <span>This website uses cookies to improve your experience. We'll assume you're ok with this, but you can opt-out if you wish.
        <a role="button" tabindex="0" data-toggle="modal" data-target="#cookie_settings_modal" class="cli-settings-button">Cookie settings</a>
        <a role="button" tabindex="0" data-cli_action="accept" id="cookie-settings-accept">ACCEPT</a>
    </span>
</div>
<footer class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links">
      <li><a href="https://codeutility.io">Home</a></li>
      <li><a href="https://github.com/dinhhientran/code-utility">GitHub</a></li>
      <li><a href="https://codeutility.slack.com/">Slack</a></li>
      <li><a href="https://github.com/dinhhientran/code-utility/issues">Report Issues</a></li>
      <li><a href="https://github.com/dinhhientran/code-utility/releases">Releases</a></li>
    </ul>
    <p>Designed and built with love and passion by the <a href="https://github.com/dinhhientran">@dinhhientran</a> with the help of <a href="https://codeutility.io/contributors"> contributors</a>.</p>
    <p>Currently v1.0. Code licensed <a href="#" target="_blank" rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.</p>
  </div>
</footer>