<footer class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links">
      <li><a href="https://codeutility.io">Home</a></li>
      <li><a href="https://github.com/dinhhientran/code-utility">GitHub</a></li>
      <li><a href="https://codeutility.slack.com/">Slack</a></li>
      <li><a href="https://github.com/dinhhientran/code-utility/issues">Report Issues</a></li>
      <li><a href="https://codeutility.io/release-notes">User voices</a></li>
      <li><a href="https://codeutility.io/release-notes">Release notes</a></li>
      <li><a href="https://codeutility.io/about">About</a></li>
    </ul>
    <p>Designed and built with love and passion by the <a href="https://github.com/dinhhientran">@dinhhientran</a> with the help of <a href="https://codeutility.io/contributors"> contributors</a>.</p>
    <p>Currently v1.0. Code licensed <a href="https://github.com/twbs/bootstrap/blob/main/LICENSE" target="_blank" rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.</p>
  </div>
</footer>