<div class="mt-md-auto mt-4 mt-sm-4 w-100">
  <div class="w-100">
    <% if !current_user.nil? %>
      <button id="favorite-btn" class="btn btn-outline-primary" style="width: 100%;"><i class="fas fa-star"></i> Add to Favorites</button>
    <% end %>
    <button id="new-btn" class="btn btn-outline-primary mt-4" style="width: 100%;">
      <i class="fas fa-plus"></i>
      New</button>
  </div>
</div>