<div class="pt-md-6">
  <div class="w-100">
    <button id="convert-btn" class="btn btn-primary" style="width: 100%;">Encrypt
      <i class="fas fa-angle-double-right"></i>
    </button>
    <button id="share-btn" class="btn btn-outline-primary mt-4" style="width: 100%;display: none;">
      <i class="fas fa-share-alt"></i>
      Share</button>
  </div>
</div>
<%= render "tools/partials/bottom_buttons" %>
