<% if !@share.nil? %>
  <div class="col-md-4 text-md-right text-left link-copy" style="display: none">
    <small style="font-size: 20px;font-family: 'Proxima Nova Soft';margin-right:10px;"><i style="font-size: 15px" class="fas fa-share-alt"></i> Share:</small> <span class="share-link btn-outline-primary"><span></span><i class="fas fa-copy"></i></span>
  </div>
<% end %>