<div class="btn-group" id="theme-mode" role="group" aria-label="Theme Mode" title="Switch to light theme or dark theme">
  <% if @theme == 'dark' %>
    <button type="button" class="btn btn-sm btn-light"><i class="far fa-sun"></i> Light Theme</button>
  <% else %>
    <button type="button" class="btn btn-sm btn-dark"><i class="far fa-moon"></i> Dark Theme</button>
  <% end %>
</div>